extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

block body
    include index_header
    div.jumbotron
        div.container
            div.row
                h1="Hello There!"
            div.row
                p="The individual act of obedience is the cornerstone not only of the strength of authoritarian society but also of its weakness."
                p.small.text-muted="Hagbard Celine, Never Whistle While You're Pissing"
            if scrapbooks.length > 0
                div.row
                    h2="Scrapbooks:"
                div.row
                    ul
                        each scrapbook, i in scrapbooks
                            div.row
                                div.col-md-11
                                    a(href="/scrapbook/" + scrapbook.id, target = '_blank')=scrapbook.name
                                div.col-md-1
                                    button.delete.btn.btn-default.btn-sm(type='button', data-id=scrapbook.id)
                                        span.glyphicon.glyphicon-trash
    script(src='/javascripts/index.js')
