extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')

block body
    include index_header
    div.jumbotron
        div.container
            div.row
                h1="Hello There!"
            div.row
                p="The individual act of obedience is the cornerstone not only of the strength of authoritarian society but also of its weakness."
                p.small.text-muted="Hagbard Celine, Never Whistle While You're Pissing"
            if scrapbooks.length > 0
                div.row
                    h2="Previous sessions"
                each scrapbook, i in scrapbooks
                    div.row
                        a(href="/scrapbook/" + scrapbook, target = '_blank')=scrapbook
    script(src='/javascripts/index.js')
